.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
}

.flex-container{
    display: flex;
    width: 42%;
    padding: 30px;
    justify-content: space-between;
    border: 2px solid blue;
    margin-bottom: 20px;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.42);
    border: rgb(0, 51, 255) solid 5px;

}

.text{
    font-size: 1.4rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
}

img{
    width: 70px;
    height: 70px;
}

.front,.back{
    position: absolute;
    transition: transform 0.5s;
}
.back{
    transform: rotateY(180deg);
    width: 100px;
    height: 100px;
    visibility: hidden;
}

.flipped .front {
    visibility: hidden;
}

.flipped .back {
    visibility: visible;
    transform: rotateY(0deg);
}


@media (width < 750px) {
.grid-container{
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}    
}